---
layout: post-index
title: Posts
---
<head> 
{% include head.html %} 
</head>

{% if paginator.previous_page %}
{% else %}
<article style="padding:0px">
    <div class="grid" style="display:flex; align-items:stretch">

        <div class="col-1-2 .d-md-none">
            <div style="
            display:table-cell;
            float:left;
            width:100%;
            height:100%;
            background-image: url(/images/benradford2.jpg);
            background-size:cover;
            background-position:center">
        </div></div>

        <div class="col-1-2">

            <h2 class="entry-title">
                About me
            </h2><hr>
            I apply machine learning to problems in political conflict and violence. I am particularly interested in measurement and data collection, neural networks, anomaly detection, natural language processing, and cybersecurity.

            <h2 class="entry-title">
                Positions
            </h2><hr>
            <ul>
            <li><b>Assistant Professor</b>, UNC Charlotte</li>
            <ul>
                <li>Full time faculty member, <a href="https://politicalscience.uncc.edu/directory/benjamin-j-radford">Political Science &amp; Public Administration</a></li>
                <li>Core faculty member, <a href="https://publicpolicy.uncc.edu">Public Policy Ph.D. Program</a> </li> 
                <li>Affiliate faculty member, <a href="https://datascience.uncc.edu/ben-radford-phd">School of Data Science</a></li>
            </ul>
            <li><b>President &amp; Co-founder</b>, LevelUp Research</li>
            <li><b>Founder</b>, Radford Consulting</li></ul>

        </div>
</div>
</article>
{% endif %}

{% for post in paginator.posts %}
<article>  
    <!-- POST FEATURED IMAGE -->
    <div class="featured-image"><a href="{{ site.url }}{{ post.url }}">
    {% if post.featured-image == "" or post.featured-image == nil %}
        <img src="/images/default-header.png", style="width:100%">
    {% else %}
        <img src="{{ post.featured-image }}" style="width:100%"></a>
    {% endif %}
    </div>

    <!-- POST TITLE -->
    <header>
        <h2 class="entry-title">
            <a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}" itemprop="url">{{ post.title }}</a>
        </h2>
<!--         {% if post.subtitle %}
        <h3 class="entry-subtitle">
            <a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}" itemprop="url">{{ post.subtitle }}</a>
        </h3>
        {% endif %} -->
    </header>


            <!-- POST BYLINE -->
            <div class="post-byline">
                <i>{{ post.venue }}</i> <br>
                {% if post.link-download %}
                    Download: <a href="{{ post.link-download }}">{{ post.link-text }}</a>
                {% endif %}
            </div>
            <!-- POST DATE -->
            <div class="post-date">
                {{ post.date | date: "%B %-d, %Y" }}
            </div>

    <!-- POST CONTENT -->
<!--     <hr>
    <div class="entry-content">
        {{ post.excerpt }}
    </div>  -->

    <!--- DIVIDING LINE -->
<!--     <hr> -->
    <!-- POST TAGS -->
<!--     <div class="inline-tags">
        <span>
        {% for cat in post.categories %}
            <a href="/{{cat}}">{{ cat | capitalize }}&nbsp;&nbsp;&nbsp</a>
        {% endfor %}
        {% for tag in post.tags %}
            <a href="/tags/#{{tag}}">#{{ tag }}&nbsp;&nbsp;&nbsp;</a>
        {% endfor %}
        </span>
    </div> -->

    
</article>
{% endfor %}

<div class="pagination">
<center>
{% include pagination.html %}
</center>
</div>

