---
layout: post-index
---
{% for post in paginator.posts %}
<article>
    
    <!-- POST FEATURED IMAGE -->
    <div class="featured-image">
    {% if post.featured-image == "" or post.featured-image == nil %}
        <img src="/images/default-header.png", style="width:100%">
    {% else %}
        <img src="{{ post.featured-image }}" style="width:100%">
    {% endif %}
    </div>

    <!-- POST TITLE -->
    <header>
        <h1 class="entry-title">
            <a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}" itemprop="url">{{ post.title }}</a>
        </h1>
        <h3 class="entry-subtitle">
            <a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}" itemprop="url">{{ post.subtitle }}</a>
        </h3>
    </header>


            <!-- POST BYLINE -->
            <div class="post-byline">
                <i>{{ post.venue }}</i> <br>
                {{ post.author }} <br>
                <a href="{{ post.link-download }}">{{ post.link-text }}</a>
            </div><br>
            <!-- POST DATE -->
            <div class="post-date">
                {{ post.date | date: "%B %-d, %Y" }}
            </div>

    <!-- POST CONTENT -->
    <hr>
    <div class="entry-content">
        {{ post.excerpt }}
    </div> 

    <!--- DIVIDING LINE -->
    <hr>
    <!-- POST TAGS -->
    <div class="inline-tags">
        <span>
        {% for tag in post.tags %}
            <a href="/tags/#{{tag}}">#{{ tag }}&nbsp;&nbsp;&nbsp;</a>
        {% endfor %}
        </span>
    </div>

    
</article>
{% endfor %}

<div class="pagination">
<center>
{% include pagination.html %}
</center>
    </div>