---
layout: post-index
title: Publications
---

<article style="padding:0px;">
    <div class="grid" style="display:flex; align-items:stretch">

        <div class="col-1-2 .d-md-none">
            <div style="
            display:table-cell;
            background-color:transparent;
            float:left;
            width:100%;
            height:100%;
            background-image: url(/images/benradford3.jpg);
            background-size:cover;
            background-position:center">
        </div></div>

        <div class="col-1-2" style="overflow:hidden">

            <h2 class="section">
                About me
            </h2>
            I apply machine learning to problems in political conflict and violence. I am particularly interested in measurement and data collection, forecasting, neural networks, Bayesian statistics, anomaly detection, natural language processing, and cybersecurity. I graduated from Duke University with my Ph.D. in Political Science in 2016. I received my B.A. in Mathematics and International Studies from UNC Asheville in 2010. 

        <h2 class="section">Positions</h2>
        <center>
            <div style="width:33%; padding:10px; border-radius: 0px; border: 0px solid #222; float:left">
            <b>Assistant Professor</b> <br>
            University of Pittsburgh </div>
            <div style="width:33%; padding:10px; border-radius: 0px; border: 0px solid #222; float:right">
            <b>President &amp Founder</b> <br>
            LevelUp Research<br></div>
            <div style="width:33%; padding:10px; border-radius: 0px; border: 0px solid #222; float:center">
            <b>Senior Researcher</b><br>
            Radford Consulting</div>
        </center>

        <h2 class="section">Collaborations and Consulting</h2><center>
        Let's work together. <br>
        benjamin.radford <i class="fas fa-envelope-square"></i> gmail.com</center>
    </div>
</div>
</article>

<article>
<!--     <h1 class="entry-title">
        <a>{{ page.title }}</a>
    </h1>
    <hr> -->
<!--</article>-->

{% for post in site.categories.publications %}
    {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
    {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}
    {% capture next_categories %}{{ post.previous.categories }}{% endcapture %}
    {% capture this_categories %}{{ post.categories }}{% endcapture %}

    {% if forloop.first %}
    <!--<article>-->
        <h1 class="section"><a name="papers">Papers</a></h1>      
        <ul>
    {% endif %}

        <li><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}{% if post.subtitle %}: {{post.subtitle}}{% endif %}</a> 
        <br> 
             <div class="post-byline">
                <i>{{ post.venue }}</i> <br>
                {{ post.author }} <br>
                {% if post.link-download %}
                    <a href="{{ post.link-download }}">Download Paper.</a>
                {% endif %}
                <div class="post-date">
                    {{ post.date | date: "%B %-d, %Y" }}
                </div>
        </li><br>

    {% if forloop.last %}
        </ul>

    {% endif %}
{% endfor %}


{% for post in site.categories.software %}
    {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
    {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}
    {% capture next_categories %}{{ post.previous.categories }}{% endcapture %}
    {% capture this_categories %}{{ post.categories }}{% endcapture %}

    {% if forloop.first %}
    <!--<article>-->
        <h1 class="section"><a name="software">Software &amp; Data</a></h1>
        <ul>
    {% endif %}

        <li><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a> <br> 
             <div class="post-byline">
                 <i>{{ post.venue }}</i> <br>
                {{ post.author }} <br>
                <div class="post-date">
                    {{ post.date | date: "%B %-d, %Y" }}
                </div>
        </li><br>

    {% if forloop.last %}
        </ul>

    {% endif %}
{% endfor %}

{% for post in site.categories.projects %}
    {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
    {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}
    {% capture next_categories %}{{ post.previous.categories }}{% endcapture %}
    {% capture this_categories %}{{ post.categories }}{% endcapture %}

    {% if forloop.first %}
    <!--<article>-->
        <h1 class="section"><a name="projects">Projects &amp; Working Papers</a></h1>
        <ul>
    {% endif %}

        <li><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a> <br> 
             <div class="post-byline">
                 <i>{{ post.venue }}</i> <br>
                {{ post.author }} <br>
                <div class="post-date">
                    {{ post.date | date: "%B %-d, %Y" }}
                </div>
        </li><br>

    {% if forloop.last %}
        </ul>

    {% endif %}
{% endfor %}


{% for post in site.categories.posts %}
    {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
    {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}
    {% capture next_categories %}{{ post.previous.categories }}{% endcapture %}
    {% capture this_categories %}{{ post.categories }}{% endcapture %}

    {% if forloop.first %}
    <!--<article>-->
        <h1 class="section"><a name="blog">Blog Posts</a></h1>
        <ul>
    {% endif %}

        <li><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a> <br> 
             <div class="post-byline">
                {% if post.venue %} 
                 <i>{{ post.venue }}</i> <br>
                {% endif %}
                {{ post.author }} <br>
                <div class="post-date">
                    {{ post.date | date: "%B %-d, %Y" }}
                </div>
        </li><br>

    {% if forloop.last %}
        </ul>

    {% endif %}
{% endfor %}
</article>