
    <!-- HEADER IMAGE -->
    <!-- <center>
        <span class="main-header-image">
            <a href="/"><img src="/images/header/clean-and-simple-header.jpg"></a>
        </span>
    </center> -->
    
    <br>
    <center>
        <span class="main-header-image">
            <h1 style="font-kerning:normal"><a href="/">{{ site.title }}</a></h1>
        </span>
    </center>
    <!-- NAVIGATION -->
    <center>
        <ul class="navigation-bar">
            <li><a href="/">HOME</a></li>
            <li><a href="/publications/">PUBLICATIONS</a></li>
            <!-- <li><a href="/software/">SOFTWARE</a></li> -->
            <!-- <li><a href="/posts/">POSTS</a></li> -->
            <li><a href="/images/radford_cv.pdf" target="#">CV</a></li>
            <!-- <li><a href="/tags/">TAGS</a></li> -->
              <li><a href="https://www.github.com/benradford"><i class='fab fa-github-alt fa-1x'></i></a></li>  
              <li><a href="https://www.twitter.com/ben_j_radford"><i class="fab fa-twitter fa-1x"></i></a></li>
              <li><a href="https://www.researchgate.net/profile/Benjamin_Radford"><i class='ai ai-researchgate  ai-1x'></i></a></li>
              <li><a href="https://scholar.google.com/citations?user=0K05-rwAAAAJ&hl=en&oi=ao"><i class="ai ai-google-scholar  ai-1x"></i></a></li>
        </ul>
    </center> 